In [49]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
data = pd.read_csv('./data/processed/Somalia_Government_Finances_2013_2024.csv')

C:\Users\maqbu\AppData\Local\Temp\ipykernel_7340\447831737.py:1: DtypeWarning: Columns (25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/processed/Somalia_Government_Finances_2013_2024.csv')

In [51]:
data.head()

,standardname,state,year,month,period,main,costcentermain,costcentermaindesc,name1,name3,...,gfs2,gfs3,gfs4,gfs2desc,gfs3desc,gfs4desc,originalbudget,totalbudget,actual,year_1
0,dbSomaliaFgsRevExp,fgs,2013,Dec,2013-12,Revenue,0.0,NaN,0.0,0.0,...,11.0,111.0,1111.0,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,236173,236173,688887.3865,2013
1,dbSomaliaFgsRevExp,fgs,2013,Dec,2013-12,Revenue,0.0,NaN,0.0,0.0,...,11.0,111.0,1111.0,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,590400,590400,NaN,2013
2,dbSomaliaFgsRevExp,fgs,2013,Dec,2013-12,Revenue,0.0,NaN,0.0,0.0,...,11.0,111.0,1111.0,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,1953000,1953000,NaN,2013
3,dbSomaliaFgsRevExp,fgs,2013,Dec,2013-12,Revenue,0.0,NaN,0.0,0.0,...,11.0,111.0,1112.0,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN,2013
4,dbSomaliaFgsRevExp,fgs,2013,Dec,2013-12,Revenue,0.0,NaN,0.0,0.0,...,11.0,111.0,1112.0,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN,2013

In [52]:
data.columns

Index(['standardname', 'state', 'year', 'month', 'period', 'main',
       'costcentermain', 'costcentermaindesc', 'name1', 'name3', 'name5',
       'obj1', 'obj2', 'obj3', 'obj4', 'obj6', 'name5desc', 'obj4desc',
       'obj6desc', 'gfs2', 'gfs3', 'gfs4', 'gfs2desc', 'gfs3desc', 'gfs4desc',
       'originalbudget', 'totalbudget', 'actual', 'year_1'],
      dtype='object')

In [ ]:
# Define the columns to keep and their new simple, clear names
columns_to_keep = {
    'year': 'year',  # Year of the record
    'month': 'month',  # Month of the record
    'period': 'date',  # Full date of the transaction
    'main': 'category',  # Revenue or Expenditure
    'costcentermaindesc': 'cost_center',  # Description of the cost center
    'name5desc': 'revenue_or_expense_type',  # Type of revenue or expenditure
    'obj4desc': 'tax_or_funding_source',  # Specific source of tax or funds
    'obj6desc': 'payer_or_recipient',  # Who is paying or receiving the money
    'gfs2desc': 'gfs_level_2',  # GFS classification level 2
    'gfs3desc': 'gfs_level_3',  # GFS classification level 3
    'gfs4desc': 'gfs_level_4',  # GFS classification level 4
    'originalbudget': 'budgeted_amount',  # Initial planned budget
    'totalbudget': 'revised_budget',  # Updated total budget
    'actual': 'actual_spending_or_revenue',  # Real amount received or spent
}


# Select and rename columns
data = data[list(columns_to_keep.keys())].rename(columns=columns_to_keep)

print("✅ Columns renamed to simple and clear names successfully!")

✅ Columns renamed to simple and clear names successfully!

In [54]:
data.head()

,year,month,date,category,cost_center,revenue_or_expense_type,tax_or_funding_source,payer_or_recipient,gfs_level_2,gfs_level_3,gfs_level_4,budgeted_amount,revised_budget,actual_spending_or_revenue
0,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,236173,236173,688887.3865
1,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,590400,590400,NaN
2,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,1953000,1953000,NaN
3,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN
4,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN

In [55]:
data[data['cost_center'].isna()].head(20)

,year,month,date,category,cost_center,revenue_or_expense_type,tax_or_funding_source,payer_or_recipient,gfs_level_2,gfs_level_3,gfs_level_4,budgeted_amount,revised_budget,actual_spending_or_revenue
0,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,236173,236173,688887.3865
1,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,590400,590400,NaN
2,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,1953000,1953000,NaN
3,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN
4,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN
5,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN
6,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,756000,756000,NaN
7,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN
8,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,116550,116550,NaN
9,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,134400,134400,NaN
10,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,1717730,1717730,NaN
11,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,429600,429600,NaN
12,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,313137,313137,NaN
13,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,58275,58275,NaN
14,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,253286,253286,NaN
15,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,164155,164155,NaN
16,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,324411,324411,NaN
17,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,300000,300000,NaN
18,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,125000,125000,NaN
19,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,Taxes on goods & services,General taxes on goods & services,1721250,1721250,1627000

In [56]:
data.isna().sum()

year                               0
month                              0
date                               0
category                        2245
cost_center                    11456
revenue_or_expense_type        23547
tax_or_funding_source          13455
payer_or_recipient             88239
gfs_level_2                     1262
gfs_level_3                     1466
gfs_level_4                     2691
budgeted_amount                84924
revised_budget                 83556
actual_spending_or_revenue    112038
dtype: int64

In [57]:
data.isna().sum()/len(data) *100

year                           0.000000
month                          0.000000
date                           0.000000
category                       1.292883
cost_center                    6.597444
revenue_or_expense_type       13.560581
tax_or_funding_source          7.748657
payer_or_recipient            50.816330
gfs_level_2                    0.726779
gfs_level_3                    0.844261
gfs_level_4                    1.549731
budgeted_amount               48.907241
revised_budget                48.119417
actual_spending_or_revenue    64.522037
dtype: float64

In [58]:
# Check duplicate rows considering only non-numeric columns
duplicate_check = data.duplicated(subset=['year', 'month', 'date', 'category', 'cost_center', 
                                          'revenue_or_expense_type', 'tax_or_funding_source', 
                                          'payer_or_recipient', 'gfs_level_2', 'gfs_level_3', 
                                          'gfs_level_4'], keep=False)

# Display suspected duplicates
data[duplicate_check]

,year,month,date,category,cost_center,revenue_or_expense_type,tax_or_funding_source,payer_or_recipient,gfs_level_2,gfs_level_3,gfs_level_4,budgeted_amount,revised_budget,actual_spending_or_revenue
0,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,236173,236173,688887.3865
1,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,590400,590400,NaN
2,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,1953000,1953000,NaN
3,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN
4,2013,Dec,2013-12,Revenue,NaN,NaN,NaN,NaN,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,-,-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120624,2022,Nov,2022-11-01 00:00:00,Expense,Administration,National Statistics Agency,Other General Expenses in goods and services,Media relations Intelligence and Promotions,Use of goods and services,General operating expenses,Conferences,NaN,NaN,NaN
122500,2022,Dec,2022-12-01 00:00:00,Expense,Administration,Office of the Prime Minister,Other General Expenses in goods and services,Media relations Intelligence and Promotions,Use of goods and services,General operating expenses,Conferences,NaN,NaN,116400.0
122501,2022,Dec,2022-12-01 00:00:00,Expense,Administration,Office of the Prime Minister,Other General Expenses in goods and services,Media relations Intelligence and Promotions,Use of goods and services,General operating expenses,Conferences,NaN,NaN,58800.0
122827,2022,Dec,2022-12-01 00:00:00,Expense,Administration,National Statistics Agency,Other General Expenses in goods and services,Media relations Intelligence and Promotions,Use of goods and services,General operating expenses,Conferences,NaN,NaN,19245.0
122828,2022,Dec,2022-12-01 00:00:00,Expense,Administration,National Statistics Agency,Other General Expenses in goods and services,Media relations Intelligence and Promotions,Use of goods and services,General operating expenses,Conferences,NaN,NaN,6360.82

In [59]:
# Convert '-' to NaN in numerical columns
num_cols = ['budgeted_amount', 'revised_budget', 'actual_spending_or_revenue']
data[num_cols] = data[num_cols].replace('-', np.nan)

# Convert columns to float
data[num_cols] = data[num_cols].astype(float)

In [60]:
from sklearn.impute import KNNImputer

# Select numerical columns
num_cols = ['budgeted_amount', 'revised_budget', 'actual_spending_or_revenue']

# Initialize and apply KNN imputer
knn_imputer = KNNImputer(n_neighbors=5)  # Using 5 nearest neighbors
data[num_cols] = knn_imputer.fit_transform(data[num_cols])

print("✅ Numerical missing values imputed using KNN!")

✅ Numerical missing values imputed using KNN!

In [63]:
# Fill missing categorical values with mode (most frequent value)
cat_cols = ['cost_center', 'category','revenue_or_expense_type', 'tax_or_funding_source',
            'payer_or_recipient', 'gfs_level_2', 'gfs_level_3', 'gfs_level_4']

for col in cat_cols:
    data[col].fillna(data[col].mode()[0], inplace=True)

print("✅ Categorical missing values filled with mode!")

✅ Categorical missing values filled with mode!

C:\Users\maqbu\AppData\Local\Temp\ipykernel_7340\239528610.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

In [64]:
data.isna().sum()

year                          0
month                         0
date                          0
category                      0
cost_center                   0
revenue_or_expense_type       0
tax_or_funding_source         0
payer_or_recipient            0
gfs_level_2                   0
gfs_level_3                   0
gfs_level_4                   0
budgeted_amount               0
revised_budget                0
actual_spending_or_revenue    0
dtype: int64

In [66]:
data

,year,month,date,category,cost_center,revenue_or_expense_type,tax_or_funding_source,payer_or_recipient,gfs_level_2,gfs_level_3,gfs_level_4,budgeted_amount,revised_budget,actual_spending_or_revenue
0,2013,Dec,2013-12,Revenue,Administration,Ministry of Finance,Utilities,Stationary,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,2.361730e+05,2.361730e+05,688887.386500
1,2013,Dec,2013-12,Revenue,Administration,Ministry of Finance,Utilities,Stationary,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,5.904000e+05,5.904000e+05,54383.800000
2,2013,Dec,2013-12,Revenue,Administration,Ministry of Finance,Utilities,Stationary,Taxes,"Taxes on income, profits, and capital gains",Payable by individuals,1.953000e+06,1.953000e+06,96579.400000
3,2013,Dec,2013-12,Revenue,Administration,Ministry of Finance,Utilities,Stationary,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,1.505147e+06,1.552107e+06,152929.694383
4,2013,Dec,2013-12,Revenue,Administration,Ministry of Finance,Utilities,Stationary,Taxes,"Taxes on income, profits, and capital gains",Payable by corporations and other enterprises,1.505147e+06,1.552107e+06,152929.694383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173638,2024,Dec,2024-12-01 00:00:00,Expense,Social,Somali Disable Agency,Fuel and Lubricants,Diesel and Oil,Use of goods and services,General operating expenses,"Fuel, oil and lubricants",1.505147e+06,1.552107e+06,152929.694383
173639,2024,Dec,2024-12-01 00:00:00,Expense,Social,Somali Disable Agency,Materials and Supplies,Stationary,Use of goods and services,General operating expenses,Office materials and supplies,2.000000e+04,2.000000e+04,5056.700000
173640,2024,Dec,2024-12-01 00:00:00,Expense,Social,Somali Disable Agency,Materials and Supplies,Stationary,Use of goods and services,General operating expenses,Office materials and supplies,1.505147e+06,1.552107e+06,152929.694383
173641,2024,Dec,2024-12-01 00:00:00,Expense,Social,Somali Disable Agency,Maintenance and Repairs,Stationary,Use of goods and services,General operating expenses,Repairs and maintenance,1.416000e+03,1.416000e+03,460.600000
173642,2024,Dec,2024-12-01 00:00:00,Expense,Social,Somali Disable Agency,Rent,Stationary,Use of goods and services,Consulting and professional fees,Consulting and professional fees,1.200000e+04,1.200000e+04,1798.000000